.Header {
  background-color: #ffffff;
  border-bottom: solid 1px #e8e8e8;
  height: 63px;
}
.Header-container {
  width: 1100px;
  display: flex;
  margin: 0 auto;
}
.SearchForm {
  width: 230px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  margin-top: 15px;
  display: flex;
}

.Header-logo {
  margin-top: 15px;
  text-align: center;
  margin-left: 306px;
  margin-right: 395px;
}

.Header-logout {
  margin-left: 56px;
}

.Header-postJob {
  width: 85px;
  height: 30px;
  border-radius: 3px;
  background-color: #ffaa00;
  margin-top: 17px;
  text-align: center;
}

.Header-postJobText {
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  padding-top: 7px;
  text-decoration: none !important;
}

a.Header-postJobText:hover {
  color: #ffffff;
}

.Header-searchForm {
  display: flex;  
}

.SearchIcon {
  margin-left: 11px;
  padding-top: 4.9px;
}

.SearchForm-customInput {
  margin-top: 2px;
  margin-left: 4px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.Header-loggedAvatar {
  width: 40px;
  height: 40px;
  background-color: #d8d8d8;
  border-radius: 30px;
  margin-top: 12px;
  cursor: pointer;
  outline: none !important;
  margin-left: 16px;
}
.Header-expandLoggedAvatar {
  width: 110px;
  height: 107px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  margin-left: 1150px;
  position: absolute;
  border-radius: 4px;
}

.Header-ulContainer {
  list-style-type: none;
  padding-left: 20px !important;
}

.Header-hrefText {
  width: 50px;
  height: 16px;
  font-family: Roboto;
  font-size: 11px !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
  text-align: left;
  color: #999999;
}

a.Header-hrefText:hover {
  text-decoration: none !important;
}

.col-lg-4 {
  margin: 0px !important;
  padding: 0px !important;
}

.Header-postJobContainer {
  display: flex;
  width: 141px;
}

input.SearchForm-customInput:focus {
  outline: none !important;
}