.JobInformation {
  width: 750px;
  height: 195px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  margin-top: 20px;
}

.JobInformation-socialButton {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.JobInformation-description {
  display: flex;
  margin-left: 20px;
}

.JobInformation-jobId {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.JobInformation-category {  
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;  
}
.JobInformation-salary {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.JobInformation-postedDate {
  
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.JobInformation-jobView {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.JobInformation-leftDescription {
  width: 345px;
  margin-right: 20px;
}

.JobInformation-separate {
  width: 710px;
  height: 1px;
  background-color: #e8e8e8;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ReportButon {
  /* width: 105px; */
  height: 24px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  display: flex;
  margin-left: 297px !important;
  outline: none !important;
  margin: 0px;
  padding: 0px;
}

.ReportButon-icon {
  margin-left: 9px;
}

.ReportButon-text {
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 6px;
  margin-top: 4px;
  cursor: pointer;
  display: inline;
}