.NoJobsYet {
  width: 830px;
  height: 170px;
  border-radius: 3px;
  /* background-color: #ffffff; */
  padding-top: 28px;
  padding-bottom: 32px;
}

.NoJobsYet-text {
  width: 69px;
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 381px;
  margin-right: 255px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.NoJobsYet-linkCustom {
  text-decoration: none !important;
}

.NoJobsYet-link {
  width: 94px;
  height: 30px;
  border-radius: 3px;
  background-color: #ffaa00;
  margin-left: 370px;
  margin-right: 245px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.NoJobsYet-linkHref {
  min-width: 58px;
  height: 16px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

.NoJobsYet-sadIcon {
  margin-left: 403px;
}
