.JobDetailHeader {
  display: flex;
  height: 86px;
}

.JobDetailHeader-info {
  margin-left: 15px;
}

.JobDetailHeader-image {
  margin-top: 6px;
  width: 80px;
  height: 80px;
  background-color: #d8d8d8;
}

.JobDetailHeader-title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.JobDetailHeader-companyName {
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-bottom: 10px;
}

.JobDetailHeader-address {
  display: flex;
}

.JobDetailHeader-addressState {
  min-width: 99px;
  height: 24px;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: solid 1px #e8e8e8;
}

.JobDetailHeader-addressCity {
  min-width: 83px;
  height: 24px;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: solid 1px #e8e8e8;
  margin-left: 8px;
}

.JobDetailHeader-addressStateText {
  min-width: 81px;
  height: 16px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.JobDetailHeader-addressCityText {
  min-width: 65px;
  height: 16px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 4px;
  margin-bottom: 4px;
}