.EmailResetPassword-container {
  margin-left: 520px;
  width: 400px;
  margin-bottom: 635px;
}
.EmailResetPassword-dashlineIcon {
  margin-left: 26px;
}

.EmailResetPassword-title {
  width: 262px;
  height: 32px;
  
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-left: 69.5px;
  margin-top: 24px;
}

.EmailResetPassword-abstract {
  width: 369px;
  height: 44px;
  
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  margin-top: 8px;
}

.EmailResetPassword-support {
  width: 369px;
  height: 20px;
  
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 16px;
  margin-left: 16px;
}

.EmailResetPassword-emailSupport {
  color: #c8cf2d;
  text-decoration: none !important;
}
a.EmailResetPassword-emailSupport:hover {
  color: #c8cf2d;
}