.EditProfile-container {
  width: 1100px;
  margin: 0 auto;
}

.EditProfile-alert {
  margin-top: 30px;
  margin-bottom: 30px;
}

.EditProfile-editProfile {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #000000;
  margin-top: 30px;
}

.EditProfile-postJobAlert {
  margin-bottom: 30px;
}

.EditProfile-postJobForm {
  margin-top: 30px;
}

.EditProfile-deleteMyAccount {
  width: 1100px;
  height: 104px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

.EditProfile-deleteAccountContainer {
  margin-left: 20px;
  margin-top: 20px;
}

.EditProfile-deleteAccounText {
  
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: inline;
}

.EditProfile-containerDeleteAccount {
  margin-left: 20px;
  margin-top: 20px;
}

.EditProfile-title {
  width: 132px;
  height: 20px;
  
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.EditProfile-content {
  margin-top: 10px;
}

.EditProfile-content {
  display: flex;
}

.EditProfile-text {
  width: 367px;
  height: 14px;
  
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.EditProfile-button {
  width: 98px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  padding-left: 16.5px;
  padding-top: 7px;
  margin-bottom: 30px;
}

.EditProfile-buttonTextContainer {
  width: 98px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  margin-top: 30px;
  margin-left: 595px;
}

.EditProfile-buttonText {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.2px;
  color: #999999;
  cursor: pointer;
  outline: none !important;
  padding-left: 16.5px;
  padding-top: 7px;
}

.EditProfile-abstract {
  width: 367px;
  height: 14px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}

.EditProfileForm {
  width: 1100px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
}

.EditProfileForm-container {
  margin: 20px;
  display: flex;
}

.EditProfileForm-lableContainer {
  width: 165px;
  margin-right: 20px; 
}

.EditProfileForm-lableItem {
  margin-top: 30px; 
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.EditProfileForm-separate {
  width: 875px;
  height: 1px;
  background-color: #e7e7e7;
}

.EditProfileForm-avatarContainer {
  display: flex;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
}

.EditProfileForm-editAvatar {
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.EditProfileForm-avatar {
  width: 165px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 20px;
}

.EditProfileForm-image {
  width: 60px;
  height: 60px;
  background-color: #d8d8d8;
  border-radius: 30px;
}

input.EditProfileForm-inputHoverEmail:focus {
  outline: none;
}

.EditProfileForm-optionInput {
  font-weight: 500 !important;
  color: #d8d8d8 !important;
}

.EditProfile-editContainer {
  margin-top: 30px;
}

.EditProfile-editButton {
  width: 82px;
  height: 34px;
  border-radius: 3px;
  background-color: #ffaa00;
  cursor: pointer;
  padding: 0px !important;
  margin: 0px !important;
}