.ClickEmail1-dashlineIcon {
  margin-left: 26px;
}
.ClickEmail1-container {
  margin-left: 520px;
  padding-bottom: 633px;
}

.ClickEmail1-changePassword {
  width: 162px;
  height: 32px;
  
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-left: 119px;
  margin-top: 24px;
}