.CompanyInfo {
  width: 320px;
  height: 62px;
  border-radius: 3px;
  background-color: #ffaa00;
  border: solid 1px #ffaa00;
}

.CompanyInfo-container {
  display: flex;
}

.CompanyInfo-image {
  width: 40px;
  height: 40px;
  background-color: #d8d8d8;
  border-radius: 30px;
}

.CompanyInfo-text {
  display:grid;
  margin-left: 10px;
  width: 193px;
  height: 42px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.CompanyInfo-container {
  margin-left: 16px;
  margin-top: 10px;
}