.NotFoundPage {
  width: 1100px;
  margin: 0 auto;
}
.NotFoundPage-icon {
  margin-top: 31px;
  margin-bottom: 24px;
  margin-left: 526px;
}

.NotFoundPage-text {
  width: 174px;
  height: 32px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 10px;
  margin-left: 463.5px;
}

.NotFoundPage-abstract {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  display: inline;
}

.NotFoundPage-abstractContainer {
  margin-bottom: 20px;
  margin-left: 419.5px;
  margin-top: 10px;
}

.NotFoundPage-aboveText {
  display: inline;
}

.NotFoundPage-belowText {
  text-align: center;
  margin-left: 50px;
}


.NotFoundPage-backToHome {
  width: 114px;
  height: 34px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
  text-align: center;
  background-color: #ffaa00;
  margin-left: 46.041666666%;
}
.NotFoundPage-backToHomeText {
  
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  outline: none !important;
  letter-spacing: normal;
  cursor: pointer;
}

a.NotFoundPage-backToHomeText:hover {
  text-decoration: none !important;
  color: #ffffff;
}