.AboutPage-container {
  width: 1338px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
}

.AboutPage-title {
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000000;
  display: inline;
}

.AboutPage-abstract {
  height: 22px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #999999;
  margin-top: 20px;
}

.AboutPage-dashlineIcon {
  margin-top: 49px; 
}

.AboutPage-content {
  width: 700px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #999999;
  margin-top: 66px;
  margin-left: 344px;
  margin-right: 344px;
  margin-bottom: 210px;
}

.AboutPage-footer {
  margin-left: 344px;;
  margin-right: 344px;;
  margin-bottom: 30px;
}

.AboutPage-devider {
  height: 1px;
  width: 700px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

.AboutPage-copyRight {
  width: 172px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 608; 
  margin-top: 10px;
  margin-left: 264px;
  margin-right: 264px;
}