.Sponsored {
  width: 250px;
  height: 216px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  margin-top: 20px;
}

.Sponsored-title {
  width: 218px;
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 14px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px; 
}

.Sponsored-image {
  width: 218px;
  height: 150px;
  background-color: #e8e8e8;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
}