.DeleteConfirmationPopup {
  width: 100%;
  height: 1157px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: block;
  z-index: 91;
}

.DeleteConfirmationPopup-containerPopup {
  width: 1320px;
  margin: 0 auto;
}

.DeleteConfirmationPopup-closeButton {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;  
  margin-top: 60px;
  cursor: pointer;
  outline: none !important;
}

.DeleteConfirmationPopup-container {
  width: 440px;
  height: 166px;
  border-radius: 3px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-left: 440px;
  margin-top: 266px;
}

.DeleteConfirmationPopup-content {
  width: 400px;
  height: 126px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
}

.DeleteConfirmationPopup-text {
  width: 360px;
  height: 32px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 20px;
}

.DeleteConfirmationPopup-buttonContainer {
  text-align: right;
  margin-right: 20px;
}

.DeleteConfirmationPopup-cancelButton {
  width: 75px;
  height: 34px;
  border-radius: 3px;
  outline: none !important;
  border: solid 1px #e8e8e8;
  cursor: pointer;
}

.DeleteConfirmationPopup-deleteButton {
  width: 72px;
  height: 34px;
  border-radius: 3px;
  background-color: #ffaa00;
  outline: none !important;
  cursor: pointer;
  margin-left: 10px;
}

.DeleteConfirmationPopup-deleteButtonText {
  width: 40px;
  height: 16px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.DeleteConfirmationPopup-cancelButtonText {
  width: 43px;
  height: 16px;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: center;
  color: #999999;
}
