.EmployerProfileBanner {
  width: 1100px;
  height: 289px;
  border-radius: 3px;
  background-color: #505d6c;
}

.EmployerProfileBanner-readMore {
  height: 589px !important;
}

.EmployerProfileBanner-avatar {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background-color: #ffffff;
  margin-top: 60px;
  margin-left: 85px;
}

.EmployerProfileBanner-container {
  display: flex;
}

.EmployerProfileBanner-contentContainer {
  margin-left: 30px;
  margin-top: 60px;
}

.EmployerProfileBanner-title {
  height: 32px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.EmployerProfileBanner-infoContainer {
  display: flex;
  margin-top: 10px;
}

.EmployerProfileBanner-phoneContainer {
  display: flex;
}

.EmployerProfileBanner-mailContainer {
  display: flex;
  margin-left: 24px;
}

.EmployerProfileBanner-webContainer {
  display: flex;
  margin-left: 24px;
}

.EmployerProfileBanner-addressContainer {
  margin-top: 10px;
  display: flex;
}


.EmployerProfileBanner-phoneText {
  width: 79px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 4px;
}

.EmployerProfileBanner-mailText {
  width: 91px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 4px;
}

.EmployerProfileBanner-webText {
  width: 135px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 4px;  
}

.EmployerProfileBanner-addressText {
  width: 680px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.EmployerProfileBanner-separate {
  width: 680px;
  height: 1px;
  opacity: 0.1;
  background-color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
}

.EmployerProfileBanner-companyDescription {
  width: 150px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.EmployerProfileBanner-companyDescriptionText {
  width: 680px;
  height: 40px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.EmployerProfileBanner-hrefText {
  color: #ffaa00;
  cursor: pointer;
  outline: none !important;
}
a.EmployerProfileBanner-hrefText:Hover {
  color: #ffaa00;
  text-decoration: none;
}

.EmployerProfileBanner-editButton {
  width: 56px;
  height: 30px;
  border-radius: 3px;
  background-color: #ffaa00;
  margin-top: 60px;
  margin-right: 60px;
}

.EmployerProfileBanner-editButtonText {
  width: 24px;
  height: 16px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  padding-left: 16px;
  padding-top: 7px;
}