.Subscribe {
  width: 250px;
  height: 320px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 21px;
  border: solid 1px #e8e8e8;
}
.Subscribe-titleContainer {
  margin-top: 14px;
  border-bottom: solid 1px #e8e8e8;
}

.Subscribe-titleText {
  margin-left: 16px;
  margin-bottom: 12px;
  margin-top: 14px;
}

.Subscribe-text {
  margin-top: 20px;
}

.Subscribe-container {
  margin-left: 16px;
  margin-right: 16px;
}

.Subscribe-image {
  width: 218px;
  height: 80px;
  background-color: #e8e8e8;
  margin-top: 15px;
}

.Subscribe-emailForm {
  margin-top: 20px;
}
.Subscribe-emailFormCustom {
  width: 214px;
  height: 34px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.Subscribe-button {
  width: 218px;
  height: 34px;
  border-radius: 3px;
  background-color: #ffaa00;
}

.Subscribe-buttonText {
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

::placeholder {
  padding-left: 11px;
}