.MyJobsDeleteConfirmationToastBox-bodyContainer {
  margin-left: 170px;
  margin-top: 30px;
}

.MyJobsDeleteConfirmationToastBox-contentContainer {
  margin-left: 8px;
  margin-top: 31px;
  display: flex;
}

.MyJobsDeleteConfirmationToastBox-jobList {
  margin-left: 93px;
}

.MyJobsDeleteConfirmationToastBox-sideBar {
  margin-left: 20px;
}

.MyJobsDeleteConfirmationToastBox-googleAds250276 {
  margin-top: 20px;
}

.MyJobsDeleteConfirmationToastBox-availableJob {
  width: 85px;
  height: 20px;
  
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}