.RelatedJobList {
  width: 320px;
  height: 408px;
  border-radius: 3px;
  border: solid 1px #e8e8e8 !important;
}

.RelatedJobList-Title {
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-bottom: 10px;
}