.ShareThisProfile {
  width: 250px;
  height: 121px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
}

.ShareThisProfile-title {
  height: 46px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 14px;
  padding-left: 16px;
}

.ShareThisProfile-separate {
  height: 1px;
  background-color: #e8e8e8;
}

.ShareThisProfile-buttonContainer {
  display: flex;
  height: 74px;
  padding-top: 20px;
  padding-left: 16px;
}

.ShareThisProfile-facebook {
  cursor: pointer;
}

.ShareThisProfile-whatsapp {
  margin-left: 10px;
  cursor: pointer;
}

.ShareThisProfile-email {
  margin-left: 10px;
  cursor: pointer;
}