.MyJobs-bodyContainer {
  margin-top: 30px;
  margin-left: 11.805555555%;
  margin-right: 11.805555555%;
}

.MyJobs-contentContainer {
  margin-top: 31px;
  display: flex;
}

.MyJobs-jobList {
  margin-left: 93px;
  width: 56.199916669%;
}

.MyJobs-sideBar {
  margin-left: 20px;
  width: 24.224102012%;
}

.MyJobs-googleAds250276 {
  margin-top: 20px;
}

.MyJobs-availableJob {
  width: 15.972222222%;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-right: 1.458333333%;
}


/* My component job */
.MyJobsComponent-title {
  width: 66px;
  height: 28px;
  border-radius: 3px;
  background-color: #e8e8e8;
  padding-left: 8px;
  padding-top: 4px;
  margin-bottom: 8px;
}

.MyJobsComponent-titleText {
  width: 50px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.MyJobsComponent-content {
  margin-left: 24px;
  width: max-content;
}

.MyJobsComponent-text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000 !important;
  margin-bottom: 12px;
}

a.MyJobsComponent-text:hover {
  text-decoration: none !important;
}

.MyJobsComponent-textContainer {
  margin-bottom: 12px;
}

.MyJobsComponent-active {
  width: 114px;
  height: 28px;
  border-radius: 3px;
  background-color: #e8e8e8;
}