.CategoryItem-container {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
  padding: 0px !important;
  outline: none !important;
  margin-bottom: 5px !important; 
}

.CategoryItem {
  width: 232px;
  height: 34px;
  display: flex;
  object-fit: contain;
  border: 1px solid transparent;
}

.CategoryItem:hover {
  border-radius: 3px !important;
  border: solid 1px #e8e8e8;
}

.CategoryItem-selected {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  font-weight: bold;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.CategoryItem-icon {
  padding: 4px;
  padding-right: 10px !important;
}

.CategoryItem-text {
  padding-top: 7px;
  padding-bottom: 7px;
}

button.CategoryItem-container:hover {
  color: #000000;
  text-decoration: none;
}