.HomePageContainer {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.HomePageContainer-categoryList {
  width: 230px;
}

.HomePageContainer-jobListContainer {
  display: grid;
  margin-top: 31px;
  margin-left: 1.458333333%;
}

.HomePageContainer-sidebarContainer {
  display: grid;
  width: 17.361111111%;
}
