.HomePageContainer {
  display: flex;
  width: auto;
}
.HomePageContainer-sidebarContainer {
  display: grid;
  width: 17.361111111%;
  margin-left: 20px;
}
.HomePageContainer-jobListContainer {
  display: grid;
  margin-top: 31px;
  width: 40.138888888%;
  margin-left: 21px;
}

.HomePageContainer-categoryList {
  margin-left: 11.805555555%;
  width: 15.972222222%;
}

.HomePageContainer-sidebarContainer {
  margin-right: 11.805555555%;
}

.container {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 2440px !important;
}