.EditProfileAlert {
  width: 1100px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff1f0;
  border: solid 1px #ffa39e;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.EditProfileAlert-content {
  display: flex;
}

.EditProfileAlert-textContainer {
  display: flex;
}

.EditProfileAlert-text {
  height: 20px;
  opacity: 0.6;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 4px;
}