.EditAndPost {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 30px;
}

.EditAndPost-title {
  width: 97px;
  height: 32px;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.EditAndPost-content {
  display: flex;
  margin-top: 30px;
}

.EditAndPost-form {
  width: 750px;
  height: 729px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  margin-right: 20px;
}

.EditAndPost-formContainer {
  display: flex;
  margin: 20px;
}

.EditAndPost-sideBarTitle {
  width: 330px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.EditAndPost-sideBarAbstract {
  width: 330px;
  height: 40px;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.EditAndPost-lableContainer {
  margin-right: 20px;
  width: 120px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.EditAndPost-lableTitle {
  margin-bottom: 64px;
}

.EditAndPost-lableCategory {
  margin-bottom: 36px;
}

.EditAndPost-lableDescription {
  margin-bottom: 255px;
}

.EditAndPost-lableSalary {
  margin-bottom: 40px;
}

.EditAndPost-lableSalaryType {
  margin-bottom: 40px;
}

.EditAndPost-lableSalaryState {
  margin-bottom: 35px;
}

.EditAndPost-separateActive {
  width: 570px;
  height: 1px;
  background-color: #ffaa00;
}

.EditAndPost-separate {
  width: 570px;
  height: 1px;
  background-color: #d8d8d8;
}

.EditAndPost-inputCategory {
  margin-top: 54px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.EditAndPost-inputCategorySelected {
  margin-top: 54px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  outline: 1px solid #FA0 !important;
}

.EditAndPost-inputDescription {
  margin-top: 30px;
}

.EditAndPost-inputSalary {
  margin-top: 54px;
}

.EditAndPost-inputSalaryType {
  margin-top: 30px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.EditAndPost-inputSalaryTypeSelected {
  margin-top: 30px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  outline: solid 1px #FA0 !important;
}

.EditAndPost-inputSalaryState {
  margin-top: 30px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.EditAndPost-inputSalaryStateSelected {
  margin-top: 30px;
  width: 160px;
  height: 30px;
  border-radius: 3px;
  outline: solid 1px #FA0;
}

.EditAndPost-inputCity {
  margin-top: 30px;
}

.EditAndPost-buttonContainer {
  margin-top: 30px;
  margin-left: 368px;
  display: flex;
}
.EditAndPost-buttonPreview {
  width: 90px;
  height: 34px;
  border-radius: 3px;
  padding: 0px !important;
  border: solid 1px #e8e8e8;
  margin: 0px !important;
  margin-right: 16px !important;
  cursor: pointer;
}
.EditAndPost-buttonPostjob {
  width: 96px;
  height: 34px;
  border-radius: 3px;
  background-color: #ffaa00;
  padding: 0px !important;
  margin: 0px !important;
  cursor: pointer;
}

.EditAndPost-textAria {
  width: 568px;
  height: 216px;
  outline: none !important;
  resize: none;
}

.EditAndPost-customInput {
  width: 570px !important;
  outline: none !important;
}

.EditAndPost-importantAlert {
  margin-top: 30px;
   margin-bottom: 20px;
}

.EditAndPost-wrapper {
  width: 570px !important;
}

.EditAndPost-editor {
  height: 140px !important;
  overflow-y: auto !important;
}