.JobByState {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.JobByState-categoryList {
  margin-right: 21px;
}

.JobByState-jobListContainer {
  display: grid;
  margin-top: 31px;
  margin-right: 21px;
}

.JobByState-sidebarContainer {
  display: grid;
  width: 17.361111111%;
}
