.StateList-title {
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 20px;
  margin-bottom: 10px;
}
.StateList-buttonContainer {
  display: flex;
}

.StateList-buttonText {
  height: 16px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-left: 6px;
}

.StateList-button {
  cursor: pointer;
  outline: none !important;
}