.ImportantAlert {
  width: 750px;
  height: 161px;
  border-radius: 4px;
  background-color: #fffbe6;
  border: solid 1px #ffe58f;
}

.ImportantAlert-iconContainer {
  display: flex;
}

.ImportantAlert-icon {
  margin-left: 24px;
  margin-top: 16px;
  margin-right: 16px;
}

.ImportantAlert-importantText {
  margin-top: 17px;
  margin-right: 583px;
  width: 75px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.ImportantAlert-textContainer {
  margin-left: 64px;
}
.ImportantAlert-text {
  width: 638px;
  height: 20px;
  opacity: 0.6;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  -webkit-text-stroke: 1px #979797;
}